
PlantGame/Saved/AutoScreenshot.png
PlantGame/Saved/Config/Windows/EditorPerProjectUserSettings.ini
PlantGame/Saved/Config/Windows/Engine.ini
PlantGame/Saved/Logs/PlantGame.log
PlantGame/Saved/AutoScreenshot.png
